body{
	background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    font-size: 16px;
}
.page-container{
	margin: 0px auto;
	position: relative;
}
.header-section{
background-color: rgba(59, 59, 59, 0.701961);
opacity: 1;
display: none;
}
.logo-container, .intro{
	margin: 5px 10px;
	color: #f39c12;
	font-size: 2em;
}
.logo-container .logo{
    width:85px;
    height:50px;
    background: url("../img/eager.png") no-repeat;
    background-size: contain;
}
.white{
	color: #fff;
}
.orange{
	color: #f39c12;
}
.red{
	color: #B50303;
}
.special{
    display: inline-block;
	transition: all 0.5s ease 0s;
}
.logo-container:hover > .special, .mid-text:hover > .special{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);

}
.mid-text{
	-webkit-animation: .5s .25s fade backwards ease-out;
    animation: .5s .25s fade backwards ease-out;
}
.intro{
	width: 50%;
	margin: 0px auto;
	padding-top: 5%;
}
.intro .mid-text{
	font-size: 7em;
	font-size: 20vmin;
}
.intro .mid-text.caption{
	font-size: 1em;
	font-size: 3vmin;
	color: #fafafa;
	-webkit-animation: .5s .5s fade backwards ease-out;
    animation: .5s .5s fade backwards ease-out;
}
.intro .logo-img img{
    max-width:75%;
    max-height:75%;
}
.align-center{
margin: 0px auto;
}
.text-center{
text-align: center;
}
.footer{
	color: #fff;
	position: fixed;
	bottom: 0;
}
.footer .logo-container{
	color: #f39c12;
	font-size: 1em;
	margin: 0;
	margin-left: 5px;
	display: inline-block; 
}
.footer .logo-container .logo{
    width:55px;
    height:40px;
    background: url("../img/eager.png") no-repeat;
    background-size: contain;
}
.footer .copy{
	font-size: 0.5em;
	display: inline-block;
}
.section{
	height: 100vh;
	width: 100%;
}
.section1{
	background: url("../img/black.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.section2{
	background: url("../img/bw2.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.section3{
	background: url("../img/white.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.section4{
	background: url("../img/chess.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.divider{
	height: 4px;
	background-color: #F39C12;
}
.section p{
	padding: 10px 20px;
	font-size: 2.5vmin;
	transition: all 0.5s ease 0s;
}
.section .overlay{
 background-color: rgba(59, 59, 59, 0.6);
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
.section p.cap span{
	color: #f39c12;
	font-size: 4.2vmin;
	letter-spacing: 2px;
	text-shadow: rgb(97, 97, 97) 1px 1px 0px, rgb(121, 120, 120) 0px 2px 0px, rgba(134, 116, 89, 0.72) 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, rgb(120, 120, 120) 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}
.section p.cap img{
	max-width: 100%;
	max-height: 100%;
}
.cap2{
	font-size: 3.5vmin;
	color: #B55E03;
}
.cap2 .red{
font-size: 4.2vmin;
	letter-spacing: 2px;
	text-shadow: rgb(97, 97, 97) 1px 1px 0px, rgb(121, 120, 120) 0px 2px 0px, rgba(134, 116, 89, 0.72) 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, rgb(120, 120, 120) 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}
.section p.cap img.group{
	margin-top: 5%; 
	border-radius: 4%;
	max-width: 40%;
    max-height: 40%;
}
@media screen and (max-width: 768px) {
 .intro .mid-text{
	font-size: 15vmin;
}   
}