body{
	background: url("../img/bg.jpg") no-repeat #222;
    background-size: cover;
    font-size: 16px;
}
.page-container{
	margin: 0px auto;
	position: relative;
}
.header-section{
background-color: rgba(59, 59, 59, 0.701961);
opacity: 1;
display: none;
}
.logo-container, .intro{
	margin: 5px 10px;
	color: #f39c12;
	font-size: 2em;
}
.logo-container .logo{
    width:85px;
    height:50px;
    background: url("../img/eager.png") no-repeat;
    background-size: contain;
}
.white{
	color: #fff;
}
.orange{
	color: #f39c12;
}
.red{
	color: #B50303;
}
.special{
    display: inline-block;
	transition: all 0.5s ease 0s;
}
.logo-container:hover > .special, .mid-text:hover > .special{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);

}
.mid-text{
	-webkit-animation: .5s .25s fade backwards ease-out;
    animation: .5s .25s fade backwards ease-out;
}
.intro{
	width: 50%;
	margin: 0px auto;
	padding-top: 5%;
}
.intro .mid-text{
	font-size: 7em;
	font-size: 20vmin;
}
.intro .mid-text.caption{
	font-size: 1em;
	font-size: 3vmin;
	color: #fafafa;
	-webkit-animation: .5s .5s fade backwards ease-out;
    animation: .5s .5s fade backwards ease-out;
}
.intro .logo-img img{
    max-width:75%;
    max-height:75%;
}
.align-center{
margin: 0px auto;
}
.text-center{
text-align: center;
}
.header{
	position: fixed;
	top: 0;
}
.header .logo-container{
	color: #f39c12;
	font-size: 1em;
	margin: 0;
	display: inline-block;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(61,61,61,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(61,61,61,1);
	box-shadow: 2px 2px 5px 0px rgba(61,61,61,1);
}
.header .logo-container .logo{
    width:70px;
    height:60px;
    background: url("../img/elg.png") no-repeat;
    background-size: contain;
}
.footer{
	color: #cacaca;
	position: fixed;
	bottom: 0;
}
.footer .copy{
	font-size: 0.6em;
	display: inline-block;
}
.section{
	height: 100vh;
	width: 100%;
}
.section1{
	background: url("../img/ride.gif") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.section2{
	background: url("../img/bw2.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.section3{
	background: url("../img/white.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.section4{
	background: url("../img/bik.jpg") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.divider{
	height: 4px;
	background-color: #F39C12;
}
.section p{
	padding: 10px 20px;
	font-size: 2.5vmin;
	transition: all 0.5s ease 0s;
}
.section .overlay{
 background-color: rgba(0, 0, 0, 0.6);
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
.section .overlay.dark{
background-color: rgba(0, 0, 0, 0.85);
}
.section .overlay.light{
background-color: rgba(255, 223, 173, 0.34);
}
/*.section .ride{
 background: url("../img/ride.gif") no-repeat;
 background-size: cover;
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}*/
.section p.cap span{
	color: #f39c12;
	font-size: 4.2vmin;
	letter-spacing: 2px;
	text-shadow: rgb(97, 97, 97) 1px 1px 0px, rgb(121, 120, 120) 0px 2px 0px, rgba(134, 116, 89, 0.72) 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, rgb(120, 120, 120) 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}
.section p.cap img{
	max-width: 100%;
	max-height: 100%;
}
.cap2{
	font-size: 3.5vmin;
	color: #B55E03;
}
.cap2 .red{
font-size: 4.2vmin;
	letter-spacing: 2px;
	text-shadow: rgb(97, 97, 97) 1px 1px 0px, rgb(121, 120, 120) 0px 2px 0px, rgba(134, 116, 89, 0.72) 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, rgb(120, 120, 120) 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}
.section p.cap img.group{
	margin-top: 5%; 
	border-radius: 4%;
	max-width: 40%;
    max-height: 40%;
}
.section5{
	background: url("../img/bw4.png") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}
.slider-half{
	width: 50%;
	height: 100vh;
	position: relative;
	display: table;
	float: left;
	color: #fff;
}
.left-set p{
display: table-cell;
vertical-align: middle;
color: #FBE531;
font-size: 2em;
text-align: center;
background-color: rgba(59, 59, 59, 0.60);
}
.right-set{
	overflow-y: auto;
	display: table-cell;
	background: url("../img/man.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.right-set .box{
width: 98%;
background-color: rgba(59, 59, 59, 0.70);
padding: 30px 1%;
text-align: center;
border-bottom: 1px solid #777777;
}
.right-set .box .person, .person{
color: #FBE531;
font-style: italic;
clear: both;
font-size: 0.8em;
}
.grp-img-container{
	color: #E5FF63;
	overflow: auto;
    height: 100%;
}
.grp-img{
	width: 250px;
	margin: 10px;
	display: inline-block;
}
.grp-img .img{
	max-height: 90%;
	max-width: 90%;
	border-radius: 5%;

	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.grp-img .img:hover{
	max-height: 100%;
	max-width: 100%;
}
.section6{
	background: url("../img/ride2.gif") no-repeat;
    background-size: cover;
  	background-attachment: fixed;
}


.card{
  border: 1px solid #333;
  border-radius: 3px;
  background: url('../img/bw2.jpg') no-repeat;
  background-size: cover;
  width: auto;
  margin: 0 auto;
  max-width: 500px;
  width: auto;
  color: #fff;
  line-height: 1.5;
  top: 10%;
  position: relative;
}
.card h1{
  font-size: 1.2em;
  font-weight: normal;
}
.card h3{
  font-size: 1em;
  color: #999;
  font-weight: normal;
}
.card a{
 font-size: .9em;
}
.card ul li{
  display: inline-block;
  font-size: 0.7em;
  color: #bdbdbd;
  border-right: 1px solid #777;
  padding-right: 5px;
}
.card ul{
  display: inline;
  border-left: 3px double #999;
  padding-left: 5px;
}
.section .card .c_overlay{
 background-color: rgba(0, 0, 0, 0.75);
 height: 100%;
 margin: 0;
 padding: 10px;
}
.card hr{
  margin: 0.3em 0;
  padding: 0;
  border-top: 1px solid #888;
  width: 100%;
}
.card a, .card a:hover, .card a:visited{
  color: #D8A56F;
  font-size: 0.9em;
}
a.social{
  font-size: 0.9em;
}
.section .card p{
	padding: 0;
	font-size: 0.9em;
}


.span9{
	overflow-y: auto;
	overflow-x: hidden;
	color: #fff;
	margin: 0 5%;
	position: relative;
	top: 50px;
	height: 85%;
	position: relative;
}
.blog-head{
	padding: 20px 0 0 50px;
}
.span9 img{
	max-width:100%;
    max-height: 100%;
}
#canvas {
	background:url('../img/clock.png') no-repeat;
	background-size: 75%;
	background-position: 50% 50%;
	width: 500px;
	height: 500px;
 }
.section7 h3,.section7 h5{
 	font-weight: normal;
 	letter-spacing: 1.5;
 }
/*media query*/
@media screen and (max-width: 768px) {
.section{
		background-position: 30%;
	}
.section5{
	background-position: 0;
}
 .intro .mid-text{
	font-size: 15vmin;
}
.section1 .intro,.section2 .team{
	padding-top:40%;
}  
.section p.cap img.group{
	margin-top: 25%; 
	max-width: 350px;
    max-height: 350px;
}
.slider-half{
	width: 100%;
	height: auto;
}
.right-set{
	background-position: 50% 0;
}
.left-set p{
	font-size: 1.4em;
}
.card{
	max-width: 80%;
}
#canvas{
	width: 400px;
	height: 400px;
}
}
@media screen and (max-width: 570px) {

.section p.cap img.group{
	margin-top: 40%; 
	max-width: 280px;
    max-height: 280px;
}
.card{
	max-width: 80%;
}
#canvas{
	width: 340px;
	height: 340px;
}
}
@media screen and (max-width: 320px) {

#canvas{
	width: 310px;
	height: 310px;
}
}